<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}" type="application/javascript"></script>
    <script type="application/javascript">
        layui.use('element',function () {
            var element = layui.element;
        });

        function navShow() {
            $(".nav-mobile-shade").addClass("site-mobile-shade");
            $(".profile .layui-nav").removeAttr("id");
            $("#nav-tree-mobile").removeClass("nav-tree-mobile");
        }

        function shadeHide() {
            $(".nav-mobile-shade").removeClass("site-mobile-shade");
            $(".profile .layui-nav").attr("id","profileUser");
            $("#nav-tree-mobile").addClass("nav-tree-mobile");
        }
    </script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="layui-container tree-marginTop profile">
    <ul class="layui-nav layui-nav-tree profile-nav" id="profileUser">
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-release"></i>我的主页</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-friends"></i>账户中心</a>
        </li>
        <li class="layui-nav-item" th:classappend="${section == 'replies'}?'layui-this':''"><a href="/profile/replies">
            <i class="layui-icon layui-icon-reply-fill"></i>我的消息
            <span class="layui-badge" style="top: 52%;" th:if="${session.unreadCount>0}" th:text="${session.unreadCount}"></span></a>
        </li>
        <li class="layui-nav-item" th:classappend="${section == 'questions'}?'layui-this':''"><a href="/profile/questions">
            <i class="layui-icon layui-icon-tabs"></i>帖子管理</a></li>
        <li class="layui-nav-item"><a href=""><i class="layui-icon layui-icon-set-sm"></i>基本设置</a></li>
    </ul>
    <div class="nav-tree-mobile layui-hide" onclick="navShow()" id="nav-tree-mobile">
        <i class="layui-icon layui-icon-right"></i>
    </div>
    <div class="nav-mobile-shade" onclick="shadeHide()"></div>
    <div class="profile-panel profile-panel-user">
        <div class="layui-tab layui-tab-brief" th:if="${section == 'questions' && pagination.data != null}">
            <ul class="layui-tab-title">
                <li class="layui-this">我发的贴</li>
                <li>收藏的贴</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <ul class="mine-view jie-row" th:each="question:${pagination.data}">
                        <li>
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"
                               class="jie-title"></a>
                            <i th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></i>
                            <em th:text="${question.commentCount+' 个回复 • '+question.viewCount+' 次浏览'}"></em>
                            <a th:href="@{'/publish/'+${question.id}}" class="mine-edit">编辑</a>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab-item">2</div>
            </div>
        </div>
        <div class="layui-tab layui-tab-brief" th:if="${section == 'replies' && pagination.data != null}" style="margin-top: 15px;">
            <button class="layui-btn" >一键已读</button>
            <button class="layui-btn layui-btn-danger">清空全部消息</button>
            <div style="margin-top: 10px;">
                <ul class="mine-msg" th:each="notification:${pagination.data}">
                    <li data-id="123">
                        <blockquote class="layui-elem-quote">
                            <a><cite th:text="${notification.notifierName}"></cite></a>
                            <a th:text="${notification.typeName}"></a>
                            <a th:href="@{'/notification/'+${notification.id}}"><cite th:text="${notification.outerTitle}"></cite></a>
                            <span class="layui-badge layui-bg-green" th:if="${notification.status == 0}">未读</span>
                        </blockquote>
                        <p><span th:text="${#dates.format(notification.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                            <a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 分页展示 -->
        <div style="text-align: center" class="laypage-main" th:if="${pagination.data != null}">
            <div class="layui-box layui-laypage">
                <li th:if="${pagination.showFirstPage}">
                    <a th:if="${pagination.showFirstPage}" th:href="@{'/profile/'+${section}(page=1)}">&lt;&lt;</a>
                </li>
                <li th:if="${pagination.showPrevious}">
                    <a th:href="@{'/profile/'+${section}(page=${pagination.page-1})}">&lt;</a>
                </li>
                <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'current_page':''">
                    <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                </li>
                <li th:if="${pagination.showNext}">
                    <a th:href="@{'/profile/'+${section}(page=${pagination.page+1})}">&gt;</a>
                </li>
                <li th:if="${pagination.showEndPage}">
                    <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}">&gt;&gt;</a>
                </li>
            </div>
        </div>
        <div class="info-none" th:if="${pagination.data == null}" th:text="${section == 'replies'?'您暂时没有最新消息':'您还没有发过帖子呢'}"></div>
    </div>
</div>
<div th:replace="footer :: foot"></div>
</body>
</html>